{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Welcome happydel </title>


<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
  <script src="{% static 'js/jquery-2.2.1.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="{% static 'css/etalage.css' %}" type="text/css" media="all" />
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--fonts-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<!--//fonts-->
<script src="{% static 'js/jquery.min.js' %}"></script>

<script src="{% static 'js/jquery.etalage.min.js' %}"></script>
<!-- <script src="{% static 'js/function.js' %}"></script> -->
<script>



	
		
	jQuery(document).ready(function($){

				$(".cart").click(function(){
					//alert("this is cart page");
					window.location.replace("/cartpage");
				});

				$("#checkout").click(function(){
					$.ajax({
 					 	type:"get",
 					 	url:"/total/",
 					 	data:"t="+$("#totala").text(),
 					 	success:function(data){
 					 		alert("ok amout save");
 					 	}
 					 });					
					window.location.replace("/checkout");
				});

				function count()
				{

					$.ajax({
 					 	type:"get",
 					 	url:"/count/",
 					 	success:function(data){
 					 		$("#totala").text(data);
 					 	}
 					 });
					
					
				}
				var tot=0;
				{% if request.session.u_id %}
					{% for p in cartproduct %}
					tot=tot+({{p.qty}}*{{p.op_id.price}});
					{% endfor %}
					
					$("#totala").text(tot);
				{% else %}
					{% for p in cartproduct %}
					tot=tot+(1*{{p.price}});
					{% endfor %}
					
					$("#totala").text(tot);
				{% endif %}
				jQuery('.qty_btn').click(function(){
 					 var a=$(this).parent().find('input[type=text]').val();
 					 var b=$(this).parent().find('input[type=text]').attr("data-a");
 					 $.ajax({
 					 	type:"get",
 					 	url:"/updateqty/",
 					 	data:"qty="+a+"&cid="+b,
 					 	success:function(data){
 					 		
 					 		count();
 					 	}
 					 });
				});


				jQuery('.delete_btn').click(function(){
					var r=confirm("are you sure?");
 					  if (r!=true)
 					  {
 					  	return;
 					  }
 					  var b=$(this).attr("data-a");
 					jQuery(this).parents().filter('tr').hide();
 					 $.ajax({
 					 	type:"get",
 					 	url:"/delete_product/",
 					 	data:"cid="+b,
 					 	success:function(data){
 					 		
 					 		count();
 					 		
 					 		/*$.ajax({
					 					 	//type:"get",
					 					 	url:"/refresh/", 					 	
					 					 	success:function(data){
					 					 		$(this).parents().hide();
					 					 		//$("#refresh").html(data);
					 					 		//$("#hello").html(data);
					 					 		


					 					 	}
 					 				});*/
 					 	}
 					 });
				});

				
				$('#etalage').etalage({
					thumb_image_width: 300,
					thumb_image_height: 400,
					source_image_width: 900,
					source_image_height: 1200,
					show_hint: true,
					click_callback: function(image_anchor, instance_id){
						alert('Callback example:\nYou clicked on an image with the anchor: "'+image_anchor+'"\n(in Etalage instance: "'+instance_id+'")');
					}
				});

			});
</script>
</head>
<body> 
	<!--header-->
	<div class="header">
		<div class="top-header">
			<div class="container">
				<div class="top-header-left">
					<ul class="support">
						<li><a href="#"><label> </label></a></li>
						<li><a href="#">24x7 live<span class="live"> support</span></a></li>
					</ul>
					<ul class="support">
						<li class="van"><a href="#"><label> </label></a></li>
						<li><a href="#">Free shipping <span class="live">on order over 500</span></a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="top-header-right">
					<div class="down-top">		
						  <select class="in-drop">
							  <option value="English" class="in-of">English</option>
							  <option value="Japanese" class="in-of">Japanese</option>
							  <option value="French" class="in-of">French</option>
							  <option value="German" class="in-of">German</option>
							</select>
					 </div>
					<div class="down-top top-down">
						  <select class="in-drop">
						  
						  <option value="Dollar" class="in-of">Dollar</option>
						  <option value="Yen" class="in-of">Yen</option>
						  <option value="Euro" class="in-of">Euro</option>
							</select>
					 </div>
					<div class="clearfix"> </div>	
				</div>
				<div class="clearfix"> </div>		
			</div>
		</div>
		<div class="bottom-header">
			<div class="container">
				<div class="header-bottom-left">
					<div class="logo">
						<a href="index.html"><img src="{% static 'images/logo.png' %}" alt=" " /></a>
					</div>
					<div class="search">
						<input type="text" value="" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}" >
						<input type="submit"  value="SEARCH">

					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="header-bottom-right">					
						<div class="account"><a href="{% if request.session.u_id %}/order{% else %} /login{% endif %}"><span> </span>{% if request.session.u_id %}{{ request.session.u_name }}&nbsp;{{ request.session.u_surname }}{% else %} YOUR ACCOUNT{% endif %}</a></div>
							<ul class="login">
								<li><a href="{% if request.session.u_id %}/logout{% else %}/login{% endif %}"><span> </span>{% if request.session.u_id %}LogOut{% else %} LOGIN{% endif %}</a></li> |
								<li ><a href="/register">SIGNUP</a></li>
							</ul>
						<div class="cart"><a href="#"><span> </span>CART</a></div>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>	
			</div>
		</div>
	</div>
	<!---->
	
<div class="container"> 
	<table class="table" border="3" cellpadding="10" bordercolor="blue">
		<thead>
				<tr>
					<th padding="18px"><h3>Product Name</h3></th>
					<th><h3>Photo</h3></th>
					<th><h3>Discription</h3></th>
					<th><h3>Price</h3></th>
					<th><h3>Qty</h3></th>
					<th><h3>Action</h3></th>
				</tr>
		</thead>
		
		<tbody id="refresh">
		{% if request.session.u_id %}	
		{% for p in cartproduct %}
				<tr>
					<td>{{p.op_id.p_name}}</td>
					<td><img  src="static/{{p.op_id.photo}}"  height="100" width="100" /></td>
					<td>{{p.op_id.p_discription}}</td>
					<td>{{p.op_id.price}}</td>
					<td>
						<input type="text" value="{{p.qty}}" class="qty" data-a="{{p.cart_id}}">
						<br>
						<button class="qty_btn" value="Update" data-a="{{p.cart_id}}">Update Qty</button>

					</td>
					<td><button class="delete_btn" data-a="{{p.cart_id}}">Delete</button></td>
				</tr>
		{% endfor %}
		{% else %}
			{% for p in cartproduct %}
				<tr>
					<td>{{p.p_name}}</td>
					<td><img  src="static/{{p.photo}}"  height="100" width="100" /></td>
					<td>{{p.p_discription}}</td>
					<td>{{p.price}}</td>
					<td>
						<input type="text" value="1" class="qty" data-a="1">
						<br>
						<button class="qty_btn" value="Update" data-a="1">Update Qty</button>

					</td>
					<td><button class="delete_btn" data-a="1">Delete</button></td>
				</tr>
		{% endfor %}
		{% endif %}
				<tr>
					<td colspan="2"></td>
					<td >
							
								 <td>Total amount</td>
								<td><div id="totala"></div></td>
								<td><button id="checkout">CheckOut</button></td>
					</td>
				</tr>
		</tbody>
	<table>	 		


<div class="main">
						
</div>


</div>
	
	<!---->
	<div class="footer">
		<div class="footer-top">
			<div class="container">
				<div class="latter">
					<h6>NEWS-LETTER</h6>
					<div class="sub-left-right">
						<form>
							<input type="text" value="Enter email here"onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Enter email here';}" />
							<input type="submit" value="SUBSCRIBE" />
						</form>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="latter-right">
					<p>FOLLOW US</p>
					<ul class="face-in-to">
						<li><a href="#"><span> </span></a></li>
						<li><a href="#"><span class="facebook-in"> </span></a></li>
						<div class="clearfix"> </div>
					</ul>
					<div class="clearfix"> </div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="footer-bottom">
			<div class="container">
				<div class="footer-bottom-cate">
					<h6>CATEGORIES</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Curabitur sapien</a></li>
						
					</ul>
				</div>
				<div class="footer-bottom-cate bottom-grid-cat">
					<h6>FEATURE PROJECTS</h6>
					<ul>
						<li><a >Curabitur sapien</a></li>
						<li><a >Dignissim purus</a></li>
						<li><a >Tempus pretium</a></li>
						<li ><a>Dignissim neque</a></li>
						<li ><a >Ornared id aliquet</a></li>
						<li><a >Ultrices id du</a></li>
						<li><a>Commodo sit</a></li>
					</ul>
				</div>
				<div class="footer-bottom-cate">
					<h6>TOP BRANDS</h6>
					<ul>
						<li><a href="#">Curabitur sapien</a></li>
						<li><a href="#">Dignissim purus</a></li>
						<li><a href="#">Tempus pretium</a></li>
						<li ><a href="#">Dignissim neque</a></li>
						
					</ul>
				</div>
				<div class="footer-bottom-cate cate-bottom">
					<h6>OUR ADDERSS</h6>
					<ul>
						<li>Aliquam metus  dui. </li>
						<li>orci, ornareidquet</li>
						<li> ut,DUI.</li>
						<li >nisi, dignissim</li>
						<li >gravida at.</li>
						<li class="phone">PH : 6985792466</li>
						<li class="temp"> <p class="footer-class">Design by <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</body>
</html>